.hero-slide {
  height: 70vh;
  background-color: rgb(175, 139, 208);
}


/* الأسهم */
.custom-control span {
  background-color: rgba(0, 0, 0, 0.7);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: 55% 55%;
  filter: invert(1); /* يخلي السهم أسود */
  transition: all 0.3s ease;
}

.custom-control span:hover {
  background-color: #000;
  transform: scale(1.1);
}

/* صورة الهيرو */
.hero-img {
  max-height: 300px;
}

/* ================================ */

