.cart-icon:hover {
  color: rgb(150, 98, 198);
  transform: scale(1.1);
  transition: 0.2s ease;
}

.nav-link {
  font-weight: 500;
}

.active-link {
  color: rgb(150, 98, 198) !important;
  transform: scale(1.1) !important;
  transition: 0.2s ease !important;
  
}

.hero-slide {
  height: 80vh;
  background-color: rgba(175, 139, 208, 0.73);
}

.hero-slide .btn{
  background-color: rgba(116, 18, 152, 0.692);
  color: white;
  border-radius: 30px;
  width: 210px;
  height: 50px;
}
/* الأسهم */
.custom-control span {
  background-color: rgba(0, 0, 0, 0.7);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: 55% 55%;
  filter: invert(1); /* يخلي السهم أسود */
  transition: all 0.3s ease;
}

.custom-control span:hover {
  background-color: #000;
  transform: scale(1.1);
}

.hero-img {
max-width: 100%;
max-height:300px ;
filter: drop-shadow(0 25px 40px rgba(0, 0, 0, 0.25));
transition: transform 0.4s ease;
border-radius: 10px;
}

.hero-img:hover {
  transform: translateY(-6px);
}



/* ================================ */

